IMG.google {
    cursor: hover;
    display: block;
    margin-left: 50%;
    margin-right: 50%;
    bottom: 10%;
}

IMG.profile {
  display: block;
  position: fixed;
  top: 8px;
  right: 16px;
  width: 70px;
  height: 70px;
  cursor: hover;
}

button.profile {
    background-image: url(download (7).jpeg);
    position: absolute;
    vertical-align: middle;
    cursor: hover;
    top: 8px;
    right: 16px;
    width: 70px;
    height: 70px; 
}

video.background {
 top: 100%;
 left: 100%;
}
