IMG.google {
    display: block;
    margin-left: auto;
    margin-right: auto }

IMG.profile {
  display: block;
  position: absolute;
  top: 8px;
  right: 16px;
  width: 1px;
  height: 1px;
}

button.profile {
    background-image: url(download (7).jpeg); /* 16px x 16px */
    background-repeat: no-repeat;  /* make the background image appear only once */
    cursor: pointer;        /* make the cursor like hovering over an <a> element */
    vertical-align: middle; /* align the text vertically centered */
    top: 8px;
    right: 16px;
    width: 1px;
    height: 1px;
}
