IMG.google {
    display: block;
    margin-left: auto;
    margin-right: auto
    cursor: hover;
}

IMG.profile {
  display: block;
  position: fixed;
  top: 8px;
  right: 16px;
  width: 70px;
  height: 70px;
}

button.profile {
    background-image: url(download (7).jpeg);
    position: absolute;
    vertical-align: middle;
    cursor: hover;
    top: 8px;
    right: 16px;
    width: 70px;
    height: 70px; 
}
