IMG.google {
    cursor: hover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

IMG.profile {
  display: block;
  position: fixed;
  top: 8px;
  right: 16px;
  width: 70px;
  height: 70px;
  cursor: hover;
}

button.profile {
    background-image: url(download (7).jpeg);
    position: absolute;
    vertical-align: middle;
    cursor: hover;
    top: 8px;
    right: 16px;
    width: 70px;
    height: 70px; 
}

IMG.monkeymask {

}

button.monkeymask {
 background-image: url(monkey with mask.png);
 top: -10px;
 down: 10px;   
}
