@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   font-family: 'IBM Plex Sans Arabic';
}

.showcase {
   position: absolute;
   right: 0;
   width: 100%;
   min-height: 100vh;
   padding: 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: ffffff;
   color: 00ff00;
   z-index: 2;
}
.menu {
}
