IMG.google {
    cursor: wait;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

IMG.profile {
  display: block;
  position: fixed;
  top: 8px;
  right: 16px;
  width: 70px;
  height: 70px;
  cursor: pointer;
}

button.profile {
    background-image: url(download (7).jpeg);
    position: absolute;
    vertical-align: middle;
    cursor: pointer;
    top: 8px;
    right: 16px;
    width: 70px;
    height: 70px; 
}

IMG.monkeymask {
position: fixed;
top: 10px;
down: 10px;
height: 10px;
width: 10px;
cursor: pointer;    
}

button.monkeymask {
 background-image: url(Monkey With Mask.png);
 position: fixed;
 top: 10px;
 down: 10px;
 height: 10px;
 width: 10px;
 cursor: pointer;
}
